@charset "utf-8";

@import "estilos/MenuRegisto.css";
@import "estilos/BarraNavegacao.css";
@import "estilos/ExposicaoFilmes.css";
@import "estilos/PaginaFilme.css";
@import "estilos/InserirFilme.css";

body
{
    background: url(./posters/fundos/fundoentrar.jpg) rgb(88, 11, 28, 0.7);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    margin: 0;
}
